@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Google Sans", "Open Sans", ui-sans-serif, system-ui, sans-serif;

  --animate-border-pulse: border-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes border-pulse {
    0%, 100% {
      box-shadow: 0 0 5px #3a8b27;
      border-color: #31281a;
    }
    50% {
      box-shadow: 0 0 16px #3a8b27;
      border-color: #3a8b27;
    }
  }
}

* {
  font-family: "Google Sans", "Open Sans", sans-serif !important;
}
